@* @model IEnumerable<LinkMaker.Models.Link> *@
@model IEnumerable<LinkMaker.Data.Entities.Url>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YourLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@* the foreach loop can not work with null so in the LinkController.cs in the Index method should pass model View(model) *@
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.YourLink)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NewLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
